In [301]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [321]:
df_mvp = pd.read_csv('mvp.csv', header=1)
# df_1920 = pd.read_csv('1920.csv')

In [322]:
# start from 1979-80 season due to introduction of the 3pt line
df_mvp = df_mvp[:40]

In [323]:
# df_dpoy['Player'].str.split('\\').str[0]

In [324]:
df_mvp.head()

,Season,Lg,Player,Voting,Age,Tm,G,MP,PTS,TRB,AST,STL,BLK,FG%,3P%,FT%,WS,WS/48
0,2018-19,NBA,Giannis Antetokounmpo\antetgi01,(V),24,MIL,72,32.8,27.7,12.5,5.9,1.3,1.5,0.578,0.256,0.729,14.4,0.292
1,2017-18,NBA,James Harden\hardeja01,(V),28,HOU,72,35.4,30.4,5.4,8.8,1.8,0.7,0.449,0.367,0.858,15.4,0.289
2,2016-17,NBA,Russell Westbrook\westbru01,(V),28,OKC,81,34.6,31.6,10.7,10.4,1.6,0.4,0.425,0.343,0.845,13.1,0.224
3,2015-16,NBA,Stephen Curry\curryst01,(V),27,GSW,79,34.2,30.1,5.4,6.7,2.1,0.2,0.504,0.454,0.908,17.9,0.318
4,2014-15,NBA,Stephen Curry\curryst01,(V),26,GSW,80,32.7,23.8,4.3,7.7,2.0,0.2,0.487,0.443,0.914,15.7,0.288

In [325]:
# drop Season, Lg, Voting, Tm
# change all NaN to 0
def clean_df(df):
    df.drop(columns=['Season', 'Lg', 'Player', 'Voting', 'Tm'], inplace=True)
    df.fillna(0, inplace=True)

In [326]:
dfs = df_dpoy, df_mvp
for i in dfs:
    clean_df(i)

In [327]:
df_mvp.tail()

    Age   G    MP   PTS   TRB  AST  STL  BLK    FG%    3P%    FT%    WS  WS/48
35   27  79  38.3  24.2  10.1  6.6  1.8  0.9  0.492  0.247  0.888  13.6  0.215
36   27  78  37.5  24.5  15.3  1.3  1.1  2.0  0.501  0.000  0.761  15.1  0.248
37   26  81  42.0  31.1  14.7  1.8  0.9  1.5  0.519  0.000  0.762  15.4  0.218
38   30  82  35.0  24.6   8.0  4.4  2.1  1.8  0.521  0.222  0.787  13.8  0.231
39   32  82  38.3  24.8  10.8  4.5  1.0  3.4  0.604  0.000  0.765  14.8  0.227

In [308]:
import glob
import os

globbed_files = glob.glob('player-data/*.csv')

li = []
for csv in globbed_files:
    frame = pd.read_csv(csv)
    frame['Season'] = os.path.basename(csv)
    li.append(frame)

In [309]:
df = pd.concat(li)

In [328]:
df['Season'].unique()

array(['0708', '1011', '1213', '0910', '1415', '1617', '1819', '1516',
       '1112', '1314', '1920', '1718', '0405', '0607', '0001', '0203',
       '0809', '0304', '9900', '0102', '0506', '9899'], dtype=object)

In [311]:
# after appending mvp
def clean_df(df):
#     df.drop(columns=['Rk', 'Player', 'Tm'], inplace=True)
    df.fillna(0, inplace=True)
    df['Player'] = df['Player'].str.split('\\').str[0]
    df['Season'] = df['Season'].str.split('.').str[0]

In [316]:
clean_df(df)

In [317]:
df.head()

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Season
0,1,Shareef Abdur-Rahim,PF,31,SAC,6,0,8.5,0.5,2.3,...,1.0,0.7,1.7,0.7,0.2,0.0,0.2,1.5,1.7,0708
1,2,Arron Afflalo,SG,22,DET,75,9,12.9,1.3,3.2,...,0.5,1.3,1.8,0.7,0.4,0.1,0.5,1.1,3.7,0708
2,3,Maurice Ager,SG,23,TOT,26,3,6.3,0.8,2.5,...,0.2,0.3,0.5,0.3,0.0,0.0,0.2,0.7,2.0,0708
3,3,Maurice Ager,SG,23,DAL,12,3,6.4,0.4,2.3,...,0.1,0.3,0.3,0.3,0.0,0.1,0.3,0.9,1.3,0708
4,3,Maurice Ager,SG,23,NJN,14,0,6.3,1.1,2.7,...,0.2,0.4,0.6,0.3,0.0,0.0,0.2,0.4,2.6,0708

In [320]:
df_mvp.head()

   Age   G    MP   PTS   TRB   AST  STL  BLK    FG%    3P%    FT%    WS  WS/48
0   24  72  32.8  27.7  12.5   5.9  1.3  1.5  0.578  0.256  0.729  14.4  0.292
1   28  72  35.4  30.4   5.4   8.8  1.8  0.7  0.449  0.367  0.858  15.4  0.289
2   28  81  34.6  31.6  10.7  10.4  1.6  0.4  0.425  0.343  0.845  13.1  0.224
3   27  79  34.2  30.1   5.4   6.7  2.1  0.2  0.504  0.454  0.908  17.9  0.318
4   26  80  32.7  23.8   4.3   7.7  2.0  0.2  0.487  0.443  0.914  15.7  0.288

In [318]:
# df_mvp['Season'] = df_mvp['Season'].str[2:].str.replace('-','')
# df_mvp['Player'] = df_mvp['Player'].str.split('\\').str[0]

In [319]:
df_mvp = df_mvp[['Season', 'Player']]
df_mvp['MVP'] = 1

KeyError: "None of [Index(['Season', 'Player'], dtype='object')] are in the [columns]"

In [185]:
df_mvp.head()

  Season                 Player  MVP
0   1819  Giannis Antetokounmpo    1
1   1718           James Harden    1
2   1617      Russell Westbrook    1
3   1516          Stephen Curry    1
4   1415          Stephen Curry    1

In [222]:
testdf = pd.merge(left=df, right=df_mvp, on=['Player', 'Season'], how='left')

In [223]:
testdf[testdf['MVP'] == 1]

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Season,MVP
82,66,Kobe Bryant,SG,29,LAL,82,82,38.9,9.5,20.6,...,5.2,6.3,5.4,1.8,0.5,3.1,2.8,28.3,0708,1.0
1085,356,Derrick Rose,PG,22,CHI,81,81,37.4,8.8,19.7,...,3.1,4.1,7.7,1.0,0.6,3.4,1.7,25.0,1011,1.0
1474,212,LeBron James,PF,28,MIA,76,76,37.9,10.1,17.8,...,6.8,8.0,7.3,1.7,0.9,3.0,1.4,26.8,1213,1.0
2078,222,LeBron James,SF,25,CLE,76,76,39.0,10.1,20.1,...,6.4,7.3,8.6,1.6,1.0,3.4,1.6,29.7,0910,1.0
2506,112,Stephen Curry,PG,26,GSW,80,80,32.7,8.2,16.8,...,3.6,4.3,7.7,2.0,0.2,3.1,2.0,23.8,1415,1.0
3580,458,Russell Westbrook,PG,28,OKC,81,81,34.6,10.2,24.0,...,9.0,10.7,10.4,1.6,0.4,5.4,2.3,31.6,1617,1.0
3636,18,Giannis Antetokounmpo,PF,24,MIL,72,72,32.8,10.0,17.3,...,10.3,12.5,5.9,1.3,1.5,3.7,3.2,27.7,1819,1.0
4441,105,Stephen Curry,PG,27,GSW,79,79,34.2,10.2,20.2,...,4.6,5.4,6.7,2.1,0.2,3.3,2.0,30.1,1516,1.0
5171,233,LeBron James,SF,27,MIA,62,62,37.5,10.0,18.9,...,6.4,7.9,6.2,1.9,0.8,3.4,1.5,27.1,1112,1.0
5639,134,Kevin Durant,SF,25,OKC,81,81,38.5,10.5,20.8,...,6.7,7.4,5.5,1.3,0.7,3.5,2.1,32.0,1314,1.0
6885,194,James Harden,SG,28,HOU,72,72,35.4,9.0,20.1,...,4.8,5.4,8.8,1.8,0.7,4.4,2.3,30.4,1718,1.0
8245,302,Dirk Nowitzki,PF,28,DAL,78,78,36.2,8.6,17.2,...,7.3,8.9,3.4,0.7,0.8,2.1,2.2,24.6,0607,1.0
9078,109,Tim Duncan,PF,26,SAS,81,81,39.3,8.8,17.2,...,9.7,12.9,3.9,0.7,2.9,3.1,2.9,23.3,0203,1.0
9710,208,LeBron James,SF,24,CLE,81,81,37.7,9.7,19.9,...,6.3,7.6,7.2,1.7,1.1,3.0,1.7,28.4,0809,1.0
10204,143,Kevin Garnett,PF,27,MIN,82,82,39.4,9.8,19.6,...,10.9,13.9,5.0,1.5,2.2,2.6,2.5,24.2,0304,1.0
11239,121,Tim Duncan,PF,25,SAS,82,82,40.6,9.3,18.3,...,9.4,12.7,3.7,0.7,2.5,3.2,2.6,25.5,0102,1.0

In [225]:
testdf.drop(columns=['Rk', 'Player', 'Tm', 'GS', 'Pos', 'Season'], inplace=True)

In [226]:
testdf.fillna(0, inplace=True)

In [298]:
testdf.head()

,Age,G,MP,FG,FGA,FG%,3P,3PA,3P%,2P,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,MVP
0,31,6,8.5,0.5,2.3,0.214,0.0,0.0,0.000,0.5,...,1.0,0.7,1.7,0.7,0.2,0.0,0.2,1.5,1.7,0.0
1,22,75,12.9,1.3,3.2,0.411,0.1,0.6,0.208,1.2,...,0.5,1.3,1.8,0.7,0.4,0.1,0.5,1.1,3.7,0.0
2,23,26,6.3,0.8,2.5,0.323,0.1,0.7,0.158,0.7,...,0.2,0.3,0.5,0.3,0.0,0.0,0.2,0.7,2.0,0.0
3,23,12,6.4,0.4,2.3,0.185,0.0,0.7,0.000,0.4,...,0.1,0.3,0.3,0.3,0.0,0.1,0.3,0.9,1.3,0.0
4,23,14,6.3,1.1,2.7,0.421,0.2,0.8,0.273,0.9,...,0.2,0.4,0.6,0.3,0.0,0.0,0.2,0.4,2.6,0.0

In [284]:
df2 = testdf[(testdf['G'] > 70) & (testdf['MP'] >= 30) & (testdf['PTS'] >= 15)]

In [299]:
df2.drop(columns=['Age', 'G', 'eFG%', 'FG', 'FGA', 'FG%', '3P', '3PA'
                  , '3P%', '2P', '2PA', '2P%', 'FT', 'FTA', 'ORB', 'DRB'
                  , 'STL', 'BLK', 'TOV', 'PF'], inplace=True)

KeyError: "['Age' 'G' 'FG' 'FGA' 'FG%' '3P' '3PA' '3P%' '2P' '2PA' '2P%' 'FT' 'FTA'\n 'ORB' 'DRB' 'STL' 'BLK' 'TOV' 'PF'] not found in axis"

In [300]:
df2.columns

Index(['eFG%', 'FT%', 'TRB', 'AST', 'PTS', 'MVP'], dtype='object')

In [287]:
len(df2)

774

In [297]:
df2.sort_values('eFG%', ascending=False)

        eFG%    FT%   TRB   AST   PTS  MVP
3861   0.669  0.636  12.9   2.0  15.9  0.0
4441   0.630  0.908   5.4   6.7  30.1  1.0
8238   0.613  0.899   3.5  11.6  18.6  0.0
2038   0.612  0.592  13.2   1.8  18.3  0.0
5749   0.610  0.750   6.9   6.3  27.1  0.0
...      ...    ...   ...   ...   ...  ...
11534  0.430  0.858   4.1   5.3  21.4  0.0
2348   0.428  0.780   4.9   8.0  16.1  0.0
10850  0.418  0.776   8.8   1.7  17.8  0.0
9992   0.414  0.815   4.9   5.3  15.3  0.0
2289   0.413  0.833   3.8   4.8  16.6  0.0

[774 rows x 6 columns]

In [290]:
y = df2['MVP']
X = df2.loc[:,df2.columns!='MVP']

In [291]:
from sklearn.model_selection import train_test_split 

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

In [292]:
# machine learning
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC, LinearSVC
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB # Gaussian Naive Bays
from sklearn.linear_model import Perceptron
from sklearn.tree import DecisionTreeClassifier

In [293]:
logreg = LogisticRegression()                                # instantiate
logreg.fit(X_train, y_train)                                 # fit
y_pred = logreg.predict(X_test)                               # predict
acc_logreg = sum(y_pred == y_test)/len(y_test)*100                # evaluate

print('Logistic Regression labeling accuracy:', str(round(acc_logreg,2)),'%')

Logistic Regression labeling accuracy: 97.42 %

/Users/stephaniezhu/opt/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

In [294]:
# we could also use scikit learn's method score
# that predicts and then compares to validation set labels
acc_log_2 = logreg.score(X_test, y_test)                       # evaluate

print('Logistic Regression using built-in method:', str(round(acc_log_2*100,2)),'%')

Logistic Regression using built-in method: 97.42 %

In [295]:
# Random Forest
random_forest = RandomForestClassifier(n_estimators=500)   # instantiate
random_forest.fit(X_train, y_train)                         # fit
acc_rf = random_forest.score(X_test, y_test)                  # predict + evaluate

print('randome forest:', str(round(acc_rf*100,2)),'%')

randome forest: 96.77 %

In [296]:
import statsmodels.api as sm
logit_model=sm.Logit(y_train,X_train)
result=logit_model.fit()
print(result.summary2())

Optimization terminated successfully.
         Current function value: 0.070520
         Iterations 9
                         Results: Logit
=================================================================
Model:              Logit            Pseudo R-squared: 0.210
Dependent Variable: MVP              AIC:              97.3039
Date:               2020-02-19 19:38 BIC:              119.4444
No. Observations:   619              Log-Likelihood:   -43.652
Df Model:           4                LL-Null:          -55.234
Df Residuals:       614              LLR p-value:      0.00011742
Converged:          1.0000           Scale:            1.0000
No. Iterations:     9.0000
-------------------------------------------------------------------
         Coef.     Std.Err.      z      P>|z|     [0.025     0.975]
-------------------------------------------------------------------
eFG%    -10.3171     6.4909   -1.5895   0.1120   -23.0389    2.4048
FT%      -8.8945     3.1026   -2.8668   0.0041   -14.9754   -2.8135
TRB       0.0633     0.1532    0.4135   0.6793    -0.2369    0.3636
AST       0.2687     0.1482    1.8133   0.0698    -0.0217    0.5591
PTS       0.2842     0.0705    4.0297   0.0001     0.1460    0.4225
=================================================================